header {
    background-color: #1f4e79;
    color: white;
    padding: 40px 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    margin-top: 30px;
    font-family: Arial, sans-serif;
}

.nav-content {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-content h1 {
    margin: 0;
}

nav {
    /*margin-top: 10px;*/
}

nav a, a {
    color: white;
    margin: 0 12px;
    text-decoration: none;
    font-weight: bold;
}

a {
    font-weight: lighter;
}

a:hover {
    color: #f59e0b;
    text-decoration: none;
}

.user-welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
